<h1>Thinreports for SPP</h1>
<div>
  <button><%= link_to 'Default Payslip', home_index_path(report_type: 'default_payslip',format: 'pdf') %></button>
  <button><%= link_to 'Detailed Payslip', home_index_path(report_type: 'detailed_payslip',format: 'pdf') %></button>
  <button><%= link_to 'Employee Details', home_index_path(report_type: 'employee_details',format: 'pdf') %></button>
</div>

<table border="1">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Address</th>
      <th>Phone Number</th>
      <th>Gender</th>
      <th>Team</th>
      <th>Funny Name</th>
      <th>Job</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.address %></td>
        <td><%= user.phone_number %></td>
        <td><%= user.gender %></td>
        <td><%= user.team %></td>
        <td><%= user.funny_name %></td>
        <td><%= user.job %></td>
      </tr>
    <% end %>
  </tbody>
</table>
